* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Glacial Indifference, sans-serif;
}
@font-face {
  * {
    font-family: Glacial Indifference;
    src: url(Fonts\glacial-indifference.regular);
  }
}

/*navbar og logo*/
header {
  z-index: 3;
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #341778;
  box-shadow: 0px 2px 10px black;
}
header .logo {
  position: absolute;
  left: 50px;
  top: 10px;
}
header .logo:hover {
  cursor: pointer;
  opacity: 0.7;
}
header .logoshadow {
  position: relative;
  left: 53px;
  top: 13px;
  opacity: 0.5;
}
header ul {
  position: absolute;
  bottom: 0;
  right: 100px;
}
header ul li {
  float: right;
  list-style-type: none;
  position: relative;
  padding-right: 40px;
  padding-bottom: 20px;
}
header ul li a {
  color: white;
  padding-bottom: 5px;
  text-align: center;
}
header ul li a:hover {
  border-bottom: 1px solid white;
  border-bottom-color: gray;
  color: gray;
}

footer {
  background-color: #2f2f2f;
  margin: auto;
  padding: 100px;
  color: white;
}
footer ul {
  padding-right: 200px;
}
footer ul li {
  list-style-type: none;
  padding-top: 20px;
}
footer ul a {
  color: white;
  padding-bottom: 5px;
  text-align: center;
}
footer ul a:hover {
  border-bottom: 1px solid white;
  border-bottom-color: white;
  color: grey;
}
footer .oversikt {
  display: inline-block;
}
footer .kontaktinfo {
  display: inline-block;
}

#indexSide .toppdel {
  display: flex;
  background-image: url("Bilder/purple-sea.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
#indexSide .toppdel .tekst {
  display: inherit;
  width: 70%;
  margin: auto;
  padding: 100px;
  position: inline-block;
}
#indexSide .toppdel .tekst h1 {
  flex: 50%;
  font-size: 50px;
  color: white;
}
#indexSide .toppdel .tekst p {
  flex: 50%;
  color: white;
  padding: 25px;
  background: rgba(0, 0, 0, 0.4);
}
#indexSide .midtdel {
  width: 80%;
  min-height: 20vh;
  margin: auto;
  position: inline-block;
  padding: 50px;
}
#indexSide .midtdel img {
  height: 250px;
  float: left;
  margin-right: 20px;
  box-shadow: 0px 1px 10px black;
}

.presentasjon {
  z-index: 2;
  background-color: #f0e6e6;
  margin: auto;
  width: 50%;
  max-width: 90%;
  padding: 70px 2%;
  height: 100%;
}
.presentasjon p {
  padding-bottom: 10px;
  /*border: 1px solid red;*/
}
.presentasjon img {
  float: right;
  position: inline;
  width: 50px;
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.presentasjon img:hover {
  transform: scale(10);
}
.presentasjon h1 {
  padding: 0px 0px 0px;
  font-size: 40px;
}
.presentasjon h2 {
  padding: 50px 0px 10px;
  font-size: 30px;
}
.presentasjon h3 {
  padding: 0px 0px 10px;
  font-size: 18px;
}
.presentasjon ul {
  padding: 0;
  padding: 0px 50px 10px;
}
.presentasjon ol {
  padding: 0;
  padding: 0px 50px 10px;
}
#undervisningBlodgass {
  background-image: url("Bilder/plasma-2753321_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
}

/*index.html*/
.intro {
  position: relative;
  color: white;
}
.intro .picturetext {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.intro .picturetext p {
  text-align: center;
  padding: 10px;
  font-family: "Brush Script MT";
}
.intro .booking {
  display: block;
  padding: 10px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 33%;
  font-size: 30px;
}
.intro .patientinfo {
  display: block;
  padding: 10px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 53%;
  font-size: 30px;
}
.intro .patientinfo a {
  color: white;
}

/* Kolonner med info*/
.padding {
  float: left;
  width: 5%;
  padding: 15px;
}

.column {
  float: left;
  width: 40%;
  padding: 25px;
  text-align: justify;
  color: #121212;
}

/*pasientinfo, symptomene, sykdommene*/
.toptext {
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}
.toptext div {
  padding: 20px;
}
.toptext a {
  color: #cccccc;
  text-align: center;
  padding-bottom: 5px;
}
.toptext a:hover {
  border-bottom: 1px solid white;
  color: white;
}
.toptext .blackbutton {
  margin: auto;
  width: 300px;
}
.toptext .oversikt {
  float: left;
  margin: 40px;
  width: auto;
  height: auto;
  background-color: black;
  color: #cccccc;
  padding: 20px;
}
.toptext .oversikt ul {
  text-align: left;
  list-style-type: none;
}
.toptext .oversikt ul li {
  padding-bottom: 5px;
}

.articlesection div {
  padding: 30px;
}
.articlesection div h2 {
  text-align: left;
  padding-left: 50px;
}
.articlesection div h3 {
  text-align: left;
  padding-left: 20px;
}
.articlesection div ul {
  padding-left: 25px;
  list-style: square;
}
.articlesection .articleheader {
  width: 100%;
}
.articlesection .leftColumn {
  display: block;
  float: left;
  width: 50%;
  text-align: justify;
  color: #121212;
}
.articlesection .rightColumn {
  display: block;
  float: left;
  width: 49.6%;
  text-align: justify;
}
.articlesection .rightColumn div {
  padding-top: 0;
}

.innhold {
  top: 0px;
  float: right;
  right: 447px;
  z-index: 0;
  display: block;
  position: sticky;
  height: 2000px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}
.innhold h2 {
  padding-bottom: 10px;
}
.innhold a {
  font-size: 16px;
}
.innhold a:link {
  color: black;
}
.innhold a:visited {
  color: black;
}
.innhold a:hover {
  color: #bb0000;
}
.innhold a:active {
  color: black;
}
.innhold ul {
  padding: 0;
  list-style: none;
}
.innhold li {
  padding: 0;
  padding-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
